
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark d-flex justify-content-between">
    <h1 class="">Pelis</h1>
    <div class="i-movie">
        <i class="fas fa-3x fa-film"></i>
    </div>
</div>