<div class="container">
<h1>Crear un marcador</h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie, prompt: 'select a movie' %>
    <%= f.submit %>
  <% end %>
</div>

